<%= javascript_include_tag "enter_submit" %>
<%= javascript_include_tag "post_dialog" %>
<div id="post_dialog"></div>
<%= form_for :post, :url => posts_path, :html => { :method => "POST", :multipart => true } do |f| %>
  <%= render :partial => 'posts/post_form', :locals => { :f => f } %>
<% end %>

<%= render :partial => 'posts/feed_post', :collection => @posts %>
