<%= javascript_include_tag 'ajax_paginate' %>
<%= javascript_include_tag 'users' %>
<div id="ajax_message"></div>
<div id="map"><iframe id="iframe" width="100%" height="99%"
    marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto"
    title="Dialog Title">Your browser does not suppr</iframe></div>
<div id="profile">
  <h1 style="margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #ccc;width:321px" class="left">
    <%= @user.name %>
    <% if @user.online? %>
      <%= image_tag "online.png", :height => 20 %>
    <% else %>
      <%= image_tag "offline.png", :height => 20 %>
    <% end %>
  </h1>
  <div class="right" style="width:204px;text-align:right">
  <%= image_tag @user.profile_image_url(:profile), :style => "border: 2px solid #ccc" %>
  </div>
  <div class="left">
    <% if signed_in? %>
      <% unless @user == current_user %>
          <% if @user.followed?(current_user.id) %>
            <%= link_to "Unfollow " + @user.name, unfollow_user_path(@user) %>
          <% else %>
            <%= link_to "Follow " + @user.name, follow_user_path(@user) %>
          <% end %>
        </p>
      <% end %>
    <% end %>
    <p><%= @user.city + ', ' unless @user.city.blank? %>
    <%= @user.state unless @user.state.blank? %>
    <%= '/ ' + TZInfo::Country.get(@user.country).name unless @user.country.blank? %>
    (<%= link_to "Map", location_user_path(@user), :id => "map_link" %>)</p>
    <p><%= @user.age %> Years Old</p>
    <% unless @user.relationship.blank? && @user.sexually.blank? %>
      <p><%= @user.relationship + ' / ' unless @user.relationship.blank? %><%= @user.sexually %></p>
    <% end %>
  </div>
  <div class="clear">&nbsp;</div>
</div>
<div>&nbsp;</div>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">About Me</a></li>
    <li><a href="#tabs-2">Posts</a></li>
    <% unless @user.images.size == 0 %>
      <li><a href="#tabs-3">Photos</a></li>
    <% end %>
    <% unless @user == current_user %>
      <li><a href="#tabs-4">Messages</a></li>
    <% end %>
  </ul>
  <div id="tabs-1">
    <h3>About Me</h3>
    <p><%= h(@user.profile_text).gsub("\n", '<br/>').html_safe unless @user.profile_text.nil? %></p>
  </div>
  <div id="tabs-2">
    <h3>Recent Posts</h3>
    <% @user.posts.order("created_at DESC").limit(5).each do |p| %>
      <p><%= p.body %></p>
    <% end %>
  </div>
  <% unless @user.images.size == 0 %>
    <div id="tabs-3">
      <h3>Photos for <%= @user.name %> (<%= @user.images.size.to_s %>)</h3>
      <div id="photos">
        <%= render 'photos' %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
  <% end %>
  <% unless @user == current_user %>
    <div id="tabs-4">
      <h3>Send <%= @user.name %> a Message</h3>
      <%= form_for :message, :remote => true, :url => user_messages_path(@user) do |f| %>
        <%= f.text_area :message, :cols => 60, :rows => 10, :placeholder => "Type message here..." %><br/>
        <%= f.submit "Send Message" %>
      <% end %>
      <div>&nbsp;</div>
      <h3 id="recent">Recent Messages</h3>
      <%= render :partial => 'messages/message', :collection => @recent_messages %>
    </div>
  <% end %>
</div>
