<div id="footer_container">
  <div id="footer">
    <p>
      <%= link_to "FAQ", root_path %> |
      <%= link_to "Help", root_path %> |
      <%= link_to "Development Roadmap", root_path %> |
      <%= link_to "Release Notes", root_path %>
    </p>
    <p class="smaller">2012 - <%= Time.now.year %> <a href="http://www.xrgenic.com">XRGenic, LLC</a></p>
  </div>
</div>
